<div class="min-h-screen bg-gray-100 py-8">
  <div id="errorContainer" class="container mx-auto px-4"></div>
  <div class="bg-white rounded shadow p-8">
  <div class="w-full bg-orange-200 text-yellow-900 px-4 py-2 flex items-center">
   <img src="https://static-00.iconduck.com/assets.00/checkout-icon-2048x2048-8k7j8q1t.png" class="w-10 block pr-2">
   <div class="text-sm"><b>You're almost there... Check one last time the items you want to buy.</b></div>
   </div>
   <div class="formattazione"></div>
    <h1 class="text-2xl font-semibold mb-4">Shopping Cart</h1>
  <div data-controller="cart" class="border w-full rounded mt-5 flex p-4 justify-between items-center flex-wrap">
    <div class="mt-4 font-medium" id="total"></div>
    <button class="mt-6 py-2 px-8 bg-gray-500 hover:bg-gray-600 rounded text-white" data-action="click->cart#checkout">Checkout</button>
    <button class="py-2 px-4 bg-gray-500 hover:bg-gray-600 rounded text-white" data-action="click->cart#clear">Clear Cart</button>
  </div>
</div>