<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 p-8">
<div class="formattazione"></div>
<div class="grid grid-cols-3 gap-8">
    <!-- Table 1 -->
    <div class="table-card-container">
        <div class="table-card">
            <div class="table-card-2">
            <div class="table-card-header">Group A</div>
            <div class="table-card-content">
                    <table>
                        <thead class="bg-gray-50">
                           <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Team</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goals For</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goals Against</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goal Difference</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Points</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <tr class="bg-blue-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Germany</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">8</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">+6</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">7</td>
                        </tr>
                        <tr class="bg-blue-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Switzerland</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">5</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">+2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">5</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Hungary</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-1</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Scotland</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">6</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-5</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1</td>
                        </tr>
                        </tbody>
                    </table> 
            </div> 
            </div>
        </div> 
    </div>
     <!-- Table 2 -->
     <div class="table-card-container">
        <div class="table-card">
            <div class="table-card-2">
            <div class="table-card-header">Group B</div>
            <div class="table-card-content">
                    <table>
                        <thead class="bg-gray-50">
                           <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Team</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goals For</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goals Against</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goal Difference</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Points</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <tr class="bg-blue-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Spain</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">5</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">5</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">+5</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">9</td>
                        </tr>
                        <tr class="bg-blue-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Italy</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">0</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Croatia</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">6</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Albania</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">5</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1</td>
                        </tr>
                        </tbody>
                    </table> 
            </div> 
            </div>
        </div> 
    </div>  
    <!-- Table 3 -->
     <div class="table-card-container">
        <div class="table-card">
            <div class="table-card-2">
            <div class="table-card-header">Group C</div>
            <div class="table-card-content">
                    <table>
                        <thead class="bg-trasparent">
                           <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Team</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goals For</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goals Against</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goal Difference</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Points</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <tr class="bg-blue-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">England</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">+1</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">5</td>
                        </tr>
                        <tr class="bg-blue-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Denmark</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">0</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Slovenia</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">0</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Serbia</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-1</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                        </tr>
                        </tbody>
                    </table> 
            </div> 
            </div>
        </div> 
    </div>
    <!-- Table 4 -->
     <div class="table-card-container">
        <div class="table-card">
            <div class="table-card-2">
            <div class="table-card-header">Group D</div>
            <div class="table-card-content">
                    <table>
                        <thead class="bg-gray-50">
                           <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Team</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goals For</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goals Against</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goal Difference</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Points</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <tr class="bg-blue-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Austria</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">6</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">+2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">6</td>
                        </tr>
                        <tr class="bg-blue-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">France</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">+1</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">5</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Netherlands</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">0</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Poland</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">6</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1</td>
                        </tr>
                        </tbody>
                    </table> 
            </div> 
            </div>
        </div> 
    </div> 
    <!-- Table 5 -->
     <div class="table-card-container">
        <div class="table-card">
            <div class="table-card-2">
            <div class="table-card-header">Group E</div>
            <div class="table-card-content">
                    <table>
                        <thead class="bg-gray-50">
                           <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Team</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goals For</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goals Against</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goal Difference</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Points</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <tr class="bg-blue-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Romania</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">+1</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                        </tr>
                        <tr class="bg-blue-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Belgium</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">+1</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Slovakia</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">0</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Ukraine</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                        </tr>
                        </tbody>
                    </table> 
            </div> 
            </div>
        </div> 
    </div> 
    <!-- Table 6 -->
     <div class="table-card-container">
        <div class="table-card">
            <div class="table-card-2">
            <div class="table-card-header">Group F</div>
            <div class="table-card-content">
                    <table>
                        <thead class="bg-gray-50">
                           <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Team</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goals For</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goals Against</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goal Difference</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Points</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <tr class="bg-blue-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Portugal</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">5</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">+2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">6</td>
                        </tr>
                        <tr class="bg-blue-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Turkey</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">5</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">5</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">0</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">6</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Georgia</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">0</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">4</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Czechia</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">3</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">5</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">1</td>
                        </tr>
                        </tbody>
                    </table> 
            </div> 
            </div>
        </div> 
    </div>
    <div class="formattazione"></div> 
    <div class="formattazione"></div>                            
</div>
</body>